* {
    color: white;
}

body {
    background-image: url(images/stars.png);
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
}

.title {
    font-size: 2rem;
}

.logo {
    background-image: url(images/logo.png);
    width: 395px;
    height: 60px;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;

}

.particao {
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgba(27, 9, 23, 0.678);
    border: solid 1px rgb(241, 241, 84);
    border-radius: 25px;
    width: 50%;
}

.subtitle {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.opcoes {
    display: flex;
    flex-direction: column;
}
span {
    padding: 4px;
}
img {
    height: 80vh;
}
.image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}