* {
    color: white;
}

body {
    background-image: url(images/stars.png);
    margin: 10px;
}

.title {

}

.particao {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(27, 9, 23);
    width: 40%;
}

.subtitle {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.opcoes {
    display: flex;
    flex-direction: column;
}
span {
    margin: 2px;
    padding: 1px;
}